@media only screen and (min-width: 320px) and (max-width: 575px) {

/*-------- Common CSS Starts -------*/

body.active { overflow: hidden; }
.container-fluid { padding: 20px 15px; }
.section-heading > div { font-size: 1.6rem; margin-bottom: 10px; }
.section-heading > div > img { display: block; }
.section-heading > h2 { font-size: 2.4rem; margin-bottom: 20px; }
.section-heading-ip > h1 { font-size: 3rem; }

/*-------- Common CSS Ends -------*/

/*------- LogIn, SignUp, and Forgot Password Page Starts -------*/

.bg-signup-login-fpwd { position: static; }
.bg-signup-login-fpwd::before { display: none; }
.col-height-relative { height: auto; position: static; }
.signup-box-contact-info,
.login-box-contact-info,
.fpwd-box-contact-info { margin: 0 auto; position: static; -webkit-transform: none; -moz-transform: none; -ms-transform: none; -o-transform: none; transform: none; width: 100%; }

/*------- LogIn, SignUp, and Forgot Password Page Ends -------*/

/*------- Home Page Starts -------*/

  /*------- Mobile Logo and Burger Menu Section Starts -------*/

.bg-logo-burger-menu-mobile { background-color: #FFFFFF; display: block; left: 0; padding: 10px 15px; position: fixed; top: 0; -webkit-transition: 0.5s ease-in-out; -moz-transition: 0.5s ease-in-out; -ms-transition: 0.5s ease-in-out; -o-transition: 0.5s ease-in-out; transition: 0.5s ease-in-out; width: 100%; z-index: 3; }
.header-logo-mobile > a { display: inline-block; }
.header-logo-mobile > a > img { height: 30px; }
.btn-add-to-cart > span > span.add-to-cart-span { display: none; }
.btn-add-to-cart > span > i { padding: 10px; }
.btn-add-to-cart > span > span.add-to-cart-span-value { font-size: 1.2rem; height: 25px; line-height: 25px; width: 25px; right: -20px; top: -10px; }

	  /*------- Mobile Hamburger Menu Section Starts -------*/

.burger-menu { background-color: transparent; cursor: pointer; height: 25px; position: relative; width: 25px; z-index: 2; }
.burger-menu span { background-color: #1E1E1E; height: 2px; left: 50%; position: absolute; top: 50%; -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); transform: translate(-50%,-50%); -webkit-transition: 0.5s ease 0.5s; -moz-transition: 0.5s ease 0.5s; -ms-transition: 0.5s ease 0.5s; -o-transition: 0.5s ease 0.5s; transition: 0.5s ease 0.5s; width: 25px; z-index: 2; }
.burger-menu span::before,
.burger-menu span::after { background-color: #1E1E1E; content: ""; display: block; height: 2px; position: absolute; top: 10px; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; width: 25px; z-index: 2; }
.burger-menu span::before { top: -10px; }
.burger-menu.active span { background-color: transparent; -webkit-transition: 0s ease; -moz-transition: 0s ease; -ms-transition: 0s ease; -o-transition: 0s ease; transition: 0s ease; }
.burger-menu.active span::before { top: 0; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); }
.burger-menu.active span::after { top: 0; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); }

	  /*------- Mobile Hamburger Menu Section Ends -------*/

  /*------- Mobile Logo and Burger Menu Section Ends -------*/

  /*------- Mobile Navbar Menu Section Starts -------*/

.fixed-navbar-menu-mobile { background-color: #FFFFFF; display: block; height: 100%; left: 0; position: fixed; top: 0; -webkit-transform: translateX(-100%); -moz-transform: translateX(-100%); -ms-transform: translateX(-100%); -o-transform: translateX(-100%); transform: translateX(-100%); -webkit-transition: 1s ease; -moz-transition: 1s ease; -ms-transition: 1s ease; -o-transition: 1s ease; transition: 1s ease; width: 100%; z-index: 4; }
.fixed-navbar-menu-mobile.active { -webkit-transform: translateX(0); -moz-transform: translateX(0); -ms-transform: translateX(0); -o-transform: translateX(0); transform: translateX(0); }
.fixed-navbar-menu-mobile-close { background-color: #E91E63; position: fixed; right: 0; top: 0; z-index: 10; }
.fixed-navbar-menu-mobile-close > i { color: #FFFFFF; display: block; font-size: 2.4rem; height: 44px; line-height: 44px; text-align: center; width: 44px; }
.menu-listing-mobile { left: 50%; position: fixed; text-align: center; top: 50%; -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); transform: translate(-50%,-50%); width: 90%; z-index: 4; }
.menu-listing-mobile > li { display: block; margin-bottom: 15px; }
.menu-listing-mobile > li:last-child { margin-bottom: 0; }
.menu-listing-mobile > li:nth-child(4) { margin-bottom: 30px; }
.menu-listing-mobile > li > a { color: #1E1E1E; font: 2rem/1.2 "Futura-Medium"; }
.menu-listing-mobile > li.active > a,
.menu-listing-mobile > li > a:hover { color: #E91E63; }

  /*------- Mobile Navbar Menu Section Ends -------*/

  /*------- Desktop Header Section Starts -------*/

.bg-header-desktop { display: none; }
.shopping-cart-listing-dropdown { min-width: 100%; right: -85px; top: 50px; width: 300px; z-index: 2; }

  /*------- Desktop Header Section Ends -------*/

  /*------- Logo and Add to Cart Button Section Starts -------*/

.bg-logo-add-to-cart-desktop,
.bg-menu-listing-login-signup-desktop { display: none; }

  /*------- Logo and Add to Cart Button Section Ends -------*/

  /*------- Wrapper Section Starts -------*/

.main-wrapper { margin-top: 60px; }

  /*------- Wrapper Section Ends -------*/

  /*------- Slider Section Starts -------*/

.bg-banner-slider { padding: 0; }
.box-banner { left: 50%; padding: 20px; -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); transform: translate(-50%,-50%); width: 85%; }
.box-banner > h1 { font-size: 3rem; }
.btn-read-more-view-products { display: block; }
.btn-read-more-view-products > li { margin-right: 0; }
.btn-read-more-view-products > li > a { display: block; }
.btn-read-more-view-products > li:last-child { margin-top: 15px; }
.btn-read-more-view-products > li:last-child > a { padding: 14px 17px; }
.banner-slick-slider .slick-slide img { height: 100vh; }
.banner-slick-slider .slick-prev { -webkit-border-radius: 0 7px 7px 0; -moz-border-radius: 0 7px 7px 0; -ms-border-radius: 0 7px 7px 0; -o-border-radius: 0 7px 7px 0; border-radius: 0 7px 7px 0; height: 40px; width: 40px; }
.banner-slick-slider .slick-next { -webkit-border-radius: 7px 0 0 7px; -moz-border-radius: 7px 0 0 7px; -ms-border-radius: 7px 0 0 7px; -o-border-radius: 7px 0 0 7px; border-radius: 7px 0 0 7px; height: 40px; width: 40px; }

  /*------- Slider Section Ends -------*/

  /*------- Category Section Starts -------*/

.box-category { margin-bottom: 20px; }
.box-category-name > h4 { font-size: 1.8rem; }

  /*------- Category Section Ends -------*/

  /*------- About Us Section Starts -------*/

.bg-about::before,
.bg-about-ap::before { height: 100%; }
.about-image-bottom-right { display: none; }
.about-image-top { left: 0; top: -50px; }
.about-image-top > img,
.about-image-bottom > img { height: 100px; width: 100px; }
.about-image-center > img { width: 85%; }
.about-image-bottom { bottom: -50px; right: 0; }
.about-info { margin: 20px 0 0 0; }
.about-desc > p { margin-bottom: 15px; text-align: justify; }

  /*------- About Us Section Ends -------*/

  /*------- Products Section Starts -------*/

.box-products { margin-bottom: 20px; }
.box-products:hover { -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); -o-transform: translateY(0); transform: translateY(0); }
.btn-read-view-more-products { margin-top: 0; }

  /*------- Products Section Ends -------*/

  /*------- Testimonials Section Starts -------*/

.box-testimonials-slick-slider-profile-image > img { margin: 0 auto 20px; padding: 10px; width: 140px; }
.box-testimonials-slick-slider-desc > p { margin-bottom: 20px; padding: 0 40px; text-align: center; }
.box-testimonials-slick-slider-quote-image > img { margin: 0 auto 20px; width: 70px; }
.box-testimonials-slick-slider-person-info > h3 { font-size: 2rem; }
.box-testimonials-slick-slider-person-info > p { font-size: 1.6rem; }
.testimonials-slick-slider .slick-prev,
.testimonials-slick-slider .slick-next { height: 44px; width: 44px; }
.testimonials-slick-slider .slick-prev { left: -10px; }
.testimonials-slick-slider .slick-next { right: -10px; }
.testimonials-slick-slider .slick-next:before,
.testimonials-slick-slider .slick-prev:before { font-size: 1.6rem; }

  /*------- Testimonials Section Ends -------*/

  /*------- Footer Section Starts -------*/

.footer-logo > a > img { margin-bottom: 30px; width: 150px; }
.footer-quick-links-listing { display: block; }
.footer-quick-links-listing > li { margin: 0 0 15px 0; }
.footer-quick-links-listing > li:last-child { margin-bottom: 0; }
.footer-heading > h3 { font-size: 2rem; margin-bottom: 15px; }
.footer-social-listing { margin-bottom: 25px; }
.footer-contact-listing { margin-bottom: 20px; }
.footer-contact-listing,
.contact-information-footer-heading > h3 { text-align: left; }
.contact-information-footer-heading > h3 { margin-bottom: 10px; }
.footer-contact-listing { border-bottom: 1px solid #E91E63; padding-bottom: 20px; }
.copyright-info > p,
.design-develop-by > p { font-size: 1.6rem; text-align: center; }

  /*------- Footer Section Ends -------*/

/*------- Home Page Ends -------*/

/*------- About Us Page Starts -------*/

  /*------- Inner Banner Section Starts -------*/

.bg-inner-banner-ip { padding: 30px 15px; }

	/*------- Inner Banner Section Ends -------*/

  /*------- Offer Section Starts -------*/

.bg-offer-ap { padding-bottom: 0; }
.box-offer-ap { margin-bottom: 20px; }
.box-offer-ap > img { margin-bottom: 15px; }
.box-offer-ap > p { font-size: 1.8rem; }

	/*------- Offer Section Ends -------*/

/*------- About Us Page Ends -------*/

/*------- Products Page Starts -------*/

  /*------- Products Section Starts -------*/

.pagination-design { margin-top: 0; }

  /*------- Products Section Ends -------*/

/*------- Products Page Ends -------*/

/*------- Product Details Page Starts -------*/

  /*------- Product Details Section Starts -------*/

.box-product-detail-image { margin-bottom: 20px; padding: 20px; }
.box-product-detail-heading > h3 { font-size: 2rem; }
.box-product-detail-desc > p { text-align: justify; }
.box-product-detail-info > .btn-add-to-cart-pdp { margin-top: 20px; }

  /*------- Product Details Section Ends -------*/

/*------- Product Details Page Ends -------*/

/*------- View Cart Page Starts -------*/

  /*------- View Cart Section Starts -------*/

.box-table-design-update-cart { margin-bottom: 20px; }
.view-cart-image-product-name-vcp { display: block; }
.view-cart-image-vcp > img { margin: 0 0 10px 0; width: 100%; }
.view-cart-product-name-vcp > p { text-align: center; }
.td-update-cart { text-align: left; }

  /*------- View Cart Section Ends -------*/

/*------- View Cart Page Ends -------*/

/*------- Contact Us Page Starts -------*/

  /*------- Contact Info and Map Section Starts -------*/

.bg-contact-info-cp { padding-bottom: 0; }
.box-contact-info-cp { margin-bottom: 20px; padding: 20px; }
.box-contact-icon-cp > i { font-size: 3rem; }
.map-cp { height: 400px; }
.bg-contact-form { padding-bottom: 0; padding-top: 0; }

  /*------- Contact Info and Map Section Ends -------*/

/*------- Contact Us Page Ends -------*/

}

@media only screen and (min-width: 576px) and (max-width: 767px) {

/*-------- Common CSS Starts -------*/

body.active { overflow: hidden; }
.container-fluid { padding: 30px 15px; }
.section-heading > div { font-size: 1.6rem; }
.section-heading > h2 { font-size: 2.4rem; margin-bottom: 20px; }
.section-heading-ip > h1 { font-size: 3rem; }

/*-------- Common CSS Ends -------*/

/*------- LogIn, SignUp, and Forgot Password Page Starts -------*/

.bg-signup-login-fpwd { position: static; }
.bg-signup-login-fpwd::before { display: none; }
.col-height-relative { height: auto; position: static; }
.signup-box-contact-info,
.login-box-contact-info,
.fpwd-box-contact-info { margin: 0 auto; position: static; -webkit-transform: none; -moz-transform: none; -ms-transform: none; -o-transform: none; transform: none; width: 70%; }
.signup-box-contact-info { width: 95%; }

/*------- LogIn, SignUp, and Forgot Password Page Ends -------*/

/*------- Home Page Starts -------*/

  /*------- Mobile Logo and Burger Menu Section Starts -------*/

.bg-logo-burger-menu-mobile { background-color: #FFFFFF; display: block; left: 0; padding: 10px 15px; position: fixed; top: 0; -webkit-transition: 0.5s ease-in-out; -moz-transition: 0.5s ease-in-out; -ms-transition: 0.5s ease-in-out; -o-transition: 0.5s ease-in-out; transition: 0.5s ease-in-out; width: 100%; z-index: 3; }
.header-logo-mobile > a { display: inline-block; }
.header-logo-mobile > a > img { height: 30px; }
.btn-add-to-cart > span > span.add-to-cart-span { display: none; }
.btn-add-to-cart > span > i { padding: 10px; }
.btn-add-to-cart > span > span.add-to-cart-span-value { font-size: 1.2rem; height: 25px; line-height: 25px; width: 25px; right: -20px; top: -10px; }

	  /*------- Mobile Hamburger Menu Section Starts -------*/

.burger-menu { background-color: transparent; cursor: pointer; height: 25px; position: relative; width: 25px; z-index: 2; }
.burger-menu span { background-color: #1E1E1E; height: 2px; left: 50%; position: absolute; top: 50%; -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); transform: translate(-50%,-50%); -webkit-transition: 0.5s ease 0.5s; -moz-transition: 0.5s ease 0.5s; -ms-transition: 0.5s ease 0.5s; -o-transition: 0.5s ease 0.5s; transition: 0.5s ease 0.5s; width: 25px; z-index: 2; }
.burger-menu span::before,
.burger-menu span::after { background-color: #1E1E1E; content: ""; display: block; height: 2px; position: absolute; top: 10px; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; width: 25px; z-index: 2; }
.burger-menu span::before { top: -10px; }
.burger-menu.active span { background-color: transparent; -webkit-transition: 0s ease; -moz-transition: 0s ease; -ms-transition: 0s ease; -o-transition: 0s ease; transition: 0s ease; }
.burger-menu.active span::before { top: 0; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); }
.burger-menu.active span::after { top: 0; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); }

	  /*------- Mobile Hamburger Menu Section Ends -------*/

  /*------- Mobile Logo and Burger Menu Section Ends -------*/

  /*------- Mobile Navbar Menu Section Starts -------*/

.fixed-navbar-menu-mobile { background-color: #FFFFFF; display: block; height: 100%; left: 0; position: fixed; top: 0; -webkit-transform: translateX(-100%); -moz-transform: translateX(-100%); -ms-transform: translateX(-100%); -o-transform: translateX(-100%); transform: translateX(-100%); -webkit-transition: 1s ease; -moz-transition: 1s ease; -ms-transition: 1s ease; -o-transition: 1s ease; transition: 1s ease; width: 100%; z-index: 4; }
.fixed-navbar-menu-mobile.active { -webkit-transform: translateX(0); -moz-transform: translateX(0); -ms-transform: translateX(0); -o-transform: translateX(0); transform: translateX(0); }
.fixed-navbar-menu-mobile-close { background-color: #E91E63; position: fixed; right: 0; top: 0; z-index: 10; }
.fixed-navbar-menu-mobile-close > i { color: #FFFFFF; display: block; font-size: 2.4rem; height: 44px; line-height: 44px; text-align: center; width: 44px; }
.menu-listing-mobile { left: 50%; position: fixed; text-align: center; top: 50%; -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); transform: translate(-50%,-50%); width: 90%; z-index: 4; }
.menu-listing-mobile > li { display: block; margin-bottom: 15px; }
.menu-listing-mobile > li:last-child { margin-bottom: 0; }
.menu-listing-mobile > li:nth-child(4) { margin-bottom: 30px; }
.menu-listing-mobile > li > a { color: #1E1E1E; font: 2rem/1.2 "Futura-Medium"; }
.menu-listing-mobile > li.active > a,
.menu-listing-mobile > li > a:hover { color: #E91E63; }

  /*------- Mobile Navbar Menu Section Ends -------*/

  /*------- Desktop Header Section Starts -------*/

.bg-header-desktop { display: none; }
.shopping-cart-listing-dropdown { min-width: 100%; right: -85px; top: 60px; z-index: 2; }

  /*------- Desktop Header Section Ends -------*/

  /*------- Logo and Add to Cart Button Section Starts -------*/

.bg-logo-add-to-cart-desktop,
.bg-menu-listing-login-signup-desktop { display: none; }

  /*------- Logo and Add to Cart Button Section Ends -------*/

  /*------- Wrapper Section Starts -------*/

.main-wrapper { margin-top: 60px; }

  /*------- Wrapper Section Ends -------*/

  /*------- Slider Section Starts -------*/

.bg-banner-slider { padding: 0; }
.box-banner { left: 50%; padding: 20px; -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); transform: translate(-50%,-50%); width: 85%; }
.box-banner > h1 { font-size: 3rem; }
.btn-read-more-view-products { display: block; }
.btn-read-more-view-products > li { margin-right: 0; }
.btn-read-more-view-products > li > a { display: block; }
.btn-read-more-view-products > li:last-child { margin-top: 15px; }
.btn-read-more-view-products > li:last-child > a { padding: 14px 17px; }
.banner-slick-slider .slick-slide img { height: 100vh; }
.banner-slick-slider .slick-prev { -webkit-border-radius: 0 7px 7px 0; -moz-border-radius: 0 7px 7px 0; -ms-border-radius: 0 7px 7px 0; -o-border-radius: 0 7px 7px 0; border-radius: 0 7px 7px 0; height: 40px; width: 40px; }
.banner-slick-slider .slick-next { -webkit-border-radius: 7px 0 0 7px; -moz-border-radius: 7px 0 0 7px; -ms-border-radius: 7px 0 0 7px; -o-border-radius: 7px 0 0 7px; border-radius: 7px 0 0 7px; height: 40px; width: 40px; }

  /*------- Slider Section Ends -------*/

  /*------- Category Section Starts -------*/

.box-category { margin-bottom: 30px; }

  /*------- Category Section Ends -------*/

  /*------- About Us Section Starts -------*/

.bg-about::before,
.bg-about-ap::before { height: 100%; }
.about-image-bottom-right { display: none; }
.about-image-top { left: 0; top: -50px; }
.about-image-top > img,
.about-image-bottom > img { height: 100px; width: 100px; }
.about-image-center > img { width: 85%; }
.about-image-bottom { bottom: -50px; right: 0; }
.about-info { margin: 20px 0 0 0; }
.about-desc > p { margin-bottom: 15px; text-align: justify; }

  /*------- About Us Section Ends -------*/

  /*------- Products Section Starts -------*/

.btn-read-view-more-products { margin-top: 0; }

  /*------- Products Section Ends -------*/

  /*------- Testimonials Section Starts -------*/

.box-testimonials-slick-slider-profile-image > img { margin: 0 auto 30px; padding: 10px; width: 140px; }
.box-testimonials-slick-slider-desc > p { margin-bottom: 30px; padding: 0 70px; text-align: center; }
.box-testimonials-slick-slider-quote-image > img { margin: 0 auto 30px; width: 70px; }
.box-testimonials-slick-slider-person-info > h3 { font-size: 2.2rem; }
.testimonials-slick-slider .slick-prev,
.testimonials-slick-slider .slick-next { height: 44px; width: 44px; }
.testimonials-slick-slider .slick-prev { left: -10px; }
.testimonials-slick-slider .slick-next { right: -10px; }
.testimonials-slick-slider .slick-next:before,
.testimonials-slick-slider .slick-prev:before { font-size: 1.6rem; }

  /*------- Testimonials Section Ends -------*/

  /*------- Footer Section Starts -------*/

.footer-logo > a > img { margin-bottom: 30px; width: 150px; }
.footer-quick-links-listing > li { margin-right: 70px; }
.footer-heading > h3 { font-size: 1.8rem; margin-bottom: 15px; }
.footer-contact-listing { margin-bottom: 30px; }
.footer-contact-listing,
.contact-information-footer-heading > h3 { text-align: left; }
.copyright-info { border-top: 1px solid #E91E63; padding-top: 30px; }
.copyright-info > p,
.design-develop-by > p { font-size: 1.6rem; text-align: center; }

  /*------- Footer Section Ends -------*/

/*------- Home Page Ends -------*/

/*------- About Us Page Starts -------*/

  /*------- Offer Section Starts -------*/

.bg-offer-ap { padding-bottom: 0; }
.box-offer-ap { margin-bottom: 30px; }
.box-offer-ap > img { margin-bottom: 15px; }
.box-offer-ap > p { font-size: 1.8rem; }

	/*------- Offer Section Ends -------*/

/*------- About Us Page Ends -------*/

/*------- Products Page Starts -------*/

  /*------- Products Section Starts -------*/

.pagination-design { margin-top: 0; }

  /*------- Products Section Ends -------*/

/*------- Products Page Ends -------*/

/*------- Product Details Page Starts -------*/

  /*------- Product Details Section Starts -------*/

.box-product-detail-image { margin-bottom: 20px; padding: 20px; }
.box-product-detail-heading > h3 { font-size: 2rem; }
.box-product-detail-desc > p { text-align: justify; }
.box-product-detail-info > .btn-add-to-cart-pdp { margin-top: 20px; }

  /*------- Product Details Section Ends -------*/

/*------- Product Details Page Ends -------*/

/*------- View Cart Page Starts -------*/

  /*------- View Cart Section Starts -------*/

.box-table-design-update-cart { margin-bottom: 30px; }
.view-cart-image-product-name-vcp { display: block; }
.view-cart-image-vcp > img { margin: 0 0 10px 0; width: 100%; }
.td-update-cart { text-align: left; }

  /*------- View Cart Section Ends -------*/

/*------- View Cart Page Ends -------*/

/*------- Contact Us Page Starts -------*/

  /*------- Contact Info and Map Section Starts -------*/

.bg-contact-info-cp { padding-bottom: 0; }
.box-contact-info-cp { margin-bottom: 30px; padding: 20px; }
.box-contact-icon-cp > i { font-size: 3rem; }
.map-cp { height: 400px; }
.bg-contact-form { padding-bottom: 0; padding-top: 0; }

  /*------- Contact Info and Map Section Ends -------*/

/*------- Contact Us Page Ends -------*/

}

@media only screen and (min-width: 768px) and (max-width: 991px) {

/*-------- Common CSS Starts -------*/

body.active { overflow: hidden; }
.container-fluid { padding: 30px 15px; }
.section-heading > div { font-size: 1.6rem; margin-bottom: 10px; }
.section-heading > div > img { display: block; }
.section-heading > h2 { font-size: 2.4rem; margin-bottom: 20px; }
.section-heading-ip > h1 { font-size: 3rem; }
.btn-secondary > a { padding: 15px 20px; }

/*-------- Common CSS Ends -------*/

/*------- LogIn, SignUp, and Forgot Password Page Starts -------*/

.bg-signup-login-fpwd { position: static; }
.bg-signup-login-fpwd::before { display: none; }
.col-height-relative { height: auto; position: static; }
.signup-box-contact-info,
.login-box-contact-info,
.fpwd-box-contact-info { margin: 0 auto; position: static; -webkit-transform: none; -moz-transform: none; -ms-transform: none; -o-transform: none; transform: none; width: 40%; }
.signup-box-contact-info { width: 95%; }

/*------- LogIn, SignUp, and Forgot Password Page Ends -------*/

/*------- Home Page Starts -------*/

  /*------- Menu Listing and LogIn and SignUp Button Section Starts -------*/

.bg-menu-listing-login-signup-desktop { padding: 0 15px; }

  /*------- Menu Listing and LogIn and SignUp Button Section Ends -------*/

  /*------- Slider Section Starts -------*/

.bg-banner-slider { padding: 0; }
.box-banner { left: 50%; -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); transform: translate(-50%,-50%); width: 80%; }
.box-banner > h1 { font-size: 3rem; }
.banner-slick-slider .slick-slide img { height: 100vh; }
.banner-slick-slider .slick-prev { -webkit-border-radius: 0 7px 7px 0; -moz-border-radius: 0 7px 7px 0; -ms-border-radius: 0 7px 7px 0; -o-border-radius: 0 7px 7px 0; border-radius: 0 7px 7px 0; height: 44px; width: 44px; }
.banner-slick-slider .slick-next { -webkit-border-radius: 7px 0 0 7px; -moz-border-radius: 7px 0 0 7px; -ms-border-radius: 7px 0 0 7px; -o-border-radius: 7px 0 0 7px; border-radius: 7px 0 0 7px; height: 44px; width: 44px; }

  /*------- Slider Section Ends -------*/

  /*------- Category Section Starts -------*/

.box-category { margin-bottom: 30px; }

  /*------- Category Section Ends -------*/

  /*------- About Us Section Starts -------*/

.bg-about::before,
.bg-about-ap::before { height: 100%; }
.about-image-bottom-right { display: none; }
.about-image-top { left: 0; top: -50px; }
.about-image-top > img,
.about-image-bottom > img { height: 100px; width: 100px; }
.about-image-center > img { width: 85%; }
.about-image-bottom { bottom: -50px; right: 0; }
.about-info { margin: 30px 0 0 0; }
.about-desc > p { margin-bottom: 15px; text-align: justify; }

  /*------- About Us Section Ends -------*/

  /*------- Products Section Starts -------*/

.btn-read-view-more-products { margin-top: 0; }

  /*------- Products Section Ends -------*/

  /*------- Testimonials Section Starts -------*/

.box-testimonials-slick-slider-profile-image > img { margin: 0 auto 30px; padding: 10px; width: 140px; }
.box-testimonials-slick-slider-desc > p { margin-bottom: 30px; padding: 0 70px; text-align: center; }
.box-testimonials-slick-slider-quote-image > img { margin: 0 auto 30px; width: 70px; }
.box-testimonials-slick-slider-person-info > h3 { font-size: 2.2rem; }
.testimonials-slick-slider .slick-prev,
.testimonials-slick-slider .slick-next { height: 44px; width: 44px; }
.testimonials-slick-slider .slick-next:before,
.testimonials-slick-slider .slick-prev:before { font-size: 1.6rem; }

  /*------- Testimonials Section Ends -------*/

  /*------- Footer Section Starts -------*/

.footer-logo > a > img { margin-bottom: 40px; width: 150px; }
.footer-heading > h3 { font-size: 2rem; margin-bottom: 15px; }
.footer-contact-listing { margin-bottom: 30px; }
.footer-contact-listing,
.contact-information-footer-heading > h3 { text-align: left; }
.copyright-info { border-top: 1px solid #E91E63; padding-top: 30px; }
.copyright-info > p,
.design-develop-by > p { font-size: 1.6rem; text-align: center; }

  /*------- Footer Section Ends -------*/

/*------- Home Page Ends -------*/

/*------- About Us Page Starts -------*/

  /*------- Inner Banner Section Starts -------*/

.bg-inner-banner-ip { padding: 60px 15px; }

	/*------- Inner Banner Section Ends -------*/

  /*------- Offer Section Starts -------*/

.box-offer-ap > p { font-size: 1.8rem; }

	/*------- Offer Section Ends -------*/

/*------- About Us Page Ends -------*/

/*------- Products Page Starts -------*/

  /*------- Products Section Starts -------*/

.pagination-design { margin-top: 0; }

  /*------- Products Section Ends -------*/

/*------- Products Page Ends -------*/

/*------- Product Details Page Starts -------*/

  /*------- Product Details Section Starts -------*/

.box-product-detail-heading > h3 { font-size: 2.2rem; }
.box-product-detail-desc > p { text-align: justify; }

  /*------- Product Details Section Ends -------*/

/*------- Product Details Page Ends -------*/

/*------- View Cart Page Starts -------*/

  /*------- View Cart Section Starts -------*/

.box-table-design-update-cart { margin-bottom: 30px; }

  /*------- View Cart Section Ends -------*/

/*------- View Cart Page Ends -------*/

/*------- Contact Us Page Starts -------*/

  /*------- Contact Info and Map Section Starts -------*/

.bg-contact-info-cp { padding-bottom: 0; }
.box-contact-info-cp { margin-bottom: 30px; padding: 20px; }
.box-contact-icon-cp > i { font-size: 3rem; }
.map-cp { height: 400px; }
.bg-contact-form { padding-bottom: 0; padding-top: 0; }

  /*------- Contact Info and Map Section Ends -------*/

/*------- Contact Us Page Ends -------*/

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

/*-------- Common CSS Starts -------*/

body.active { overflow: hidden; }
.container-fluid { padding: 30px 15px; }
.section-heading > div { font-size: 1.6rem; margin-bottom: 10px; }
.section-heading > div > img { display: block; }
.section-heading > h2 { font-size: 2.4rem; margin-bottom: 20px; }
.section-heading-ip > h1 { font-size: 3rem; }
.btn-secondary > a { padding: 15px 20px; }

/*-------- Common CSS Ends -------*/

/*------- LogIn, SignUp, and Forgot Password Page Starts -------*/

.bg-signup-login-fpwd { padding: 0; }
.signup-box-contact-info,
.login-box-contact-info,
.fpwd-box-contact-info { width: 70%; }
.signup-box-contact-info { width: 88%; }

/*------- LogIn, SignUp, and Forgot Password Page Ends -------*/

/*------- Home Page Starts -------*/

  /*------- Logo and Add to Cart Button Section Starts -------*/

.bg-logo-add-to-cart-desktop { padding: 15px; }

  /*------- Logo and Add to Cart Button Section Ends -------*/

  /*------- Menu Listing and LogIn and SignUp Button Section Starts -------*/

.bg-menu-listing-login-signup-desktop { padding: 0 15px; }

  /*------- Menu Listing and LogIn and SignUp Button Section Ends -------*/

  /*------- Slider Section Starts -------*/

.bg-banner-slider { padding: 0; }
.box-banner { left: 50%; -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); transform: translate(-50%,-50%); width: 80%; }
.box-banner > h1 { font-size: 3.6rem; }
.banner-slick-slider .slick-slide img { height: 100vh; }

  /*------- Slider Section Ends -------*/

  /*------- Category Section Starts -------*/

.box-category { margin-bottom: 30px; }

  /*------- Category Section Ends -------*/

  /*------- About Us Section Starts -------*/

.bg-about::before,
.bg-about-ap::before { height: 100%; }
.about-image-bottom-right { display: none; }
.about-image-top { left: 0; top: -50px; }
.about-image-top > img,
.about-image-bottom > img { height: 100px; width: 100px; }
.about-image-center > img { width: 85%; }
.about-image-bottom { bottom: -50px; right: 0; }
.about-info { margin: 20px 0 0 0; }
.about-desc > p { margin-bottom: 15px; text-align: justify; }

  /*------- About Us Section Ends -------*/

  /*------- Products Section Starts -------*/

.btn-read-view-more-products { margin-top: 0; }

  /*------- Products Section Ends -------*/

  /*------- Testimonials Section Starts -------*/

.box-testimonials-slick-slider-profile-image > img { margin: 0 auto 30px; padding: 10px; width: 140px; }
.box-testimonials-slick-slider-desc > p { margin-bottom: 30px; padding: 0 70px; text-align: center; }
.box-testimonials-slick-slider-quote-image > img { margin: 0 auto 30px; width: 70px; }
.box-testimonials-slick-slider-person-info > h3 { font-size: 2.2rem; }

  /*------- Testimonials Section Ends -------*/

  /*------- Footer Section Starts -------*/

.footer-logo > a > img { margin-bottom: 40px; width: 160px; }
.footer-heading > h3 { font-size: 2.2rem; }
.footer-contact-listing { margin-bottom: 30px; }

  /*------- Footer Section Ends -------*/

/*------- Home Page Ends -------*/

/*------- About Us Page Starts -------*/

  /*------- Inner Banner Section Starts -------*/

.bg-inner-banner-ip { padding: 60px 15px; }

	/*------- Inner Banner Section Ends -------*/

  /*------- Offer Section Starts -------*/

.box-offer-ap > p { font-size: 1.8rem; }

	/*------- Offer Section Ends -------*/

/*------- About Us Page Ends -------*/

/*------- Products Page Starts -------*/

  /*------- Products Section Starts -------*/

.pagination-design { margin-top: 0; }

  /*------- Products Section Ends -------*/

/*------- Products Page Ends -------*/

/*------- Product Details Page Starts -------*/

  /*------- Product Details Section Starts -------*/

.box-product-detail-heading > h3 { font-size: 2.2rem; }
.box-product-detail-desc > p { text-align: justify; }

  /*------- Product Details Section Ends -------*/

/*------- Product Details Page Ends -------*/

/*------- View Cart Page Starts -------*/

  /*------- View Cart Section Starts -------*/

.box-table-design-update-cart { margin-bottom: 30px; }

  /*------- View Cart Section Ends -------*/

/*------- View Cart Page Ends -------*/

/*------- Contact Us Page Starts -------*/

  /*------- Contact Info and Map Section Starts -------*/

.bg-contact-info-cp { padding-bottom: 0; }
.box-contact-info-cp { margin-bottom: 30px; padding: 20px; }
.box-contact-icon-cp > i { font-size: 3rem; }
.map-cp { height: 400px; }
.bg-contact-form { padding-bottom: 0; padding-top: 0; }

  /*------- Contact Info and Map Section Ends -------*/

/*------- Contact Us Page Ends -------*/

}