/*-------- Font Family Starts -------*/

@font-face { font-family: "Futura-Book"; src: url("../fonts/Futura-Book.otf"); }
@font-face { font-family: "Futura-Medium"; src: url("../fonts/Futura-Medium.otf"); }
@font-face { font-family: "Futura-Bold"; src: url("../fonts/Futura-Bold.otf"); }

/*-------- Font Family Ends -------*/

/*-------- Reset CSS Starts -------*/

html { font-size: 10px; letter-spacing: 0.25px; }
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
address,
figure { margin: 0; padding: 0; }
li { list-style: none; }

/*-------- Reset CSS Ends -------*/

/*-------- Common CSS Starts -------*/

.container-fluid { padding: 70px 15px; }
.row { margin: 0 -15px; }
.row [class^=col] { padding: 0 15px; }
.section-heading > div { color: #1E1E1E; font: 2rem/normal "Futura-Book"; margin-bottom: 10px; }
.section-heading > h2 { color: #1E1E1E; font: 3.6rem/normal "Futura-Bold"; margin-bottom: 50px; }
.section-heading > h2 > span { color: #F26EBA; }
.section-heading-ip > h1 { color: #FFFFFF; font: 4rem/1.2 "Futura-Bold"; margin-bottom: 5px; padding-bottom: 10px; position: relative; text-align: center; text-transform: uppercase; z-index: 1; }
.section-heading-ip > h1::after { background-color: #fff; bottom: 0; content: ""; display: block; height: 2px; left: 50%; position: absolute; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); transform: translateX(-50%); width: 100px; z-index: -1; }
p { color: #444444; font: 1.8rem/1.7 "Futura-Book"; }
.btn-primary > a { background: linear-gradient(#F26EBA, #FD7863); align-items: center; -webkit-border-radius: 7px; -moz-border-radius: 7px; -ms-border-radius: 7px; -o-border-radius: 7px; border-radius: 7px; color: #FFFFFF; display: inline-flex; font: 1.6rem/normal "Futura-Medium"; letter-spacing: 0.75px; padding: 17px 34px; text-align: center; text-transform: uppercase; }
.btn-primary > a > i { padding-left: 10px; }
.btn-secondary > a { align-items: center; background-color: #F26EBA; border: 2px solid #F26EBA; -webkit-border-radius: 7px; -moz-border-radius: 7px; -ms-border-radius: 7px; -o-border-radius: 7px; border-radius: 7px; color: #FFFFFF; display: inline-flex; font: 1.6rem/normal "Futura-Medium"; letter-spacing: 0.75px; padding: 15px 30px; text-align: center; text-transform: uppercase; }
.btn-primary > a:hover { background: linear-gradient(#FD7863,#F26EBA); }
.btn-primary > a:hover > svg path { fill: #1E1E1E; stroke: #1E1E1E; }
.btn-secondary > a { background-color: #FFFFFF; border: 2px solid #F26EBA; color: #F26EBA; }
.btn-secondary > a:hover { background-color: #F26EBA; color: #FFFFFF; }
a,
a:hover,
a:focus,
a::after { outline: 0; text-decoration: none; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; }

/*-------- Common CSS Ends -------*/

/*------- LogIn and SignUp Page Starts -------*/

.bg-signup-login-fpwd { padding: 0; }
.bg-signup-login-fpwd > .row { margin: 0; }
.bg-signup-login-fpwd > .row > [class*="col-"] { padding: 0; }
.col-height-relative-1,
.col-height-relative-2 { height: 100vh; position: relative; z-index: 1; }
.bg-signup-login-fpwd-banner { background: url("../images/login-banner.jpg") no-repeat top/cover; height: 100vh; }
.signup-box-contact-info,
.login-box-contact-info,
.fpwd-box-contact-info { left: 50%; position: absolute; top: 50%; -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); transform: translate(-50%,-50%); width: 75%; z-index: 1; }
.login-box-contact-info { width: 50%; }
.fpwd-box-contact-info { width: 50%; }
.box-login-signup-image { text-align: center; }
.box-login-signup-image > a { display: inline-block; }
.box-login-signup-image > a > img { margin-bottom: 15px; width: 150px; }
.box-login-signup-heading > h3 { color: #1E1E1E; font: 2.4rem/normal "Futura-Bold"; margin-bottom: 20px; text-align: center; }
.box-login-signup-heading > p { line-height: normal; margin-bottom: 20px; text-align: center; }
.form-group-signup-login { margin-bottom: 15px; }
.forget-password > a { color: #F26EBA; font-family: "Futura-Medium"; text-decoration: underline; }
.forget-password > a:hover,
.login-signup-redirection > a:hover { color: #1E1E1E; }
.login-signup-redirection { color: #1E1E1E; font-family: "Futura-Medium"; text-align: center; }
.login-signup-redirection > a { color: #F26EBA; text-decoration: underline; }
.btn-cancel { background-color: #FFFFFF; border: 2px solid #E91E63; -webkit-border-radius: 7px; -moz-border-radius: 7px; -ms-border-radius: 7px; -o-border-radius: 7px; border-radius: 7px; color: #E91E63; display: block; font: 1.6rem/normal "Futura-Medium"; letter-spacing: 0.5px; margin-top: 15px; padding: 14px 32px; text-align: center; text-transform: uppercase; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; width: 100%; }
.btn-cancel:hover { background-color: #E91E63; color: #FFFFFF; }

/*------- LogIn and SignUp Page Ends -------*/

/*------- Home Page Starts -------*/

  /*------- Mobile Logo and Burger Menu Section Starts -------*/

.bg-logo-burger-menu-mobile,
.fixed-navbar-menu-mobile { display: none; }

	/*------- Mobile Logo and Burger Menu Section Ends -------*/

  /*------- Logo and Add to Cart Button Section Starts -------*/

.bg-logo-add-to-cart-desktop { background-color: #FFFFFF; padding: 15px; }
.header-logo-desktop > a { display: inline-block; }
.header-logo-desktop > a > img { width: 100px; }
.btn-add-to-cart > a { background-color: #FFFFFF; border: 2px solid #F26EBA; -webkit-border-radius: 7px; -moz-border-radius: 7px; -ms-border-radius: 7px; -o-border-radius: 7px; border-radius: 7px; color: #F26EBA; display: inline-block; font: 1.6rem/normal "Futura-Medium"; position: relative; text-transform: uppercase; z-index: 1; }
.btn-add-to-cart > a > i { background-color: #F26EBA; color: #FFFFFF; display: inline-block; padding: 17px; }
.btn-add-to-cart > a > span.add-to-cart-span { display: inline-block; padding: 0 15px 0 10px; }
.btn-add-to-cart > a > span.add-to-cart-span-value { background-color: #F26EBA; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; color: #FFFFFF; display: block; font: 1.6rem/normal "Futura-Medium"; height: 30px; line-height: 30px; outline: 4px solid #FFFFFF; position: absolute; right: -15px; text-align: center; top: -12px; width: 30px; z-index: 1; }

  /*------- Logo and Add to Cart Button Section Ends -------*/

  /*------- Menu Listing and LogIn and SignUp Button Section Starts -------*/

.bg-menu-listing-login-signup-desktop { background-color: #F26EBA; position: -webkit-sticky; position: sticky; top: 0; z-index: 3; }
.bg-menu-listing-login-signup-desktop { padding: 0 15px; }
.menu-listing-desktop { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; }
.menu-listing-desktop > li > a { background-color: #F26EBA; color: #FFFFFF; display: block; font: 1.8rem/normal "Futura-Medium"; padding: 30px 20px; text-align: center; }
.menu-listing-desktop > li.active > a,
.menu-listing-desktop > li > a:hover { background-color: #FFFFFF; color: #F26EBA; }
.header-login-signup-listing { display: -webkit-box; display: -webkit-flex; display: flex; justify-content: flex-end; }
.header-login-signup-listing > li { margin-right: 15px; }
.header-login-signup-listing > li:last-child { margin-right: 0; }
.header-login-signup-listing > li > a { border: 2px solid #FFFFFF; -webkit-border-radius: 7px; -moz-border-radius: 7px; -ms-border-radius: 7px; -o-border-radius: 7px; border-radius: 7px; display: block; font: 1.6rem/normal "Futura-Medium"; padding: 10px 20px; text-align: center; }
.header-login-signup-listing > li:first-child > a { background-color: #FFFFFF; color: #F26EBA; }
.header-login-signup-listing > li:last-child > a { border: 2px solid #FFFFFF; color: #FFFFFF; }
.header-login-signup-listing > li > a:hover { background-color: #1E1E1E; border-color: #1E1E1E; color: #FFFFFF; }

  /*------- Menu Listing and LogIn and SignUp Button Section Ends -------*/

  /*------- Wrapper Section Starts -------*/

.main-wrapper { margin-top: 0; }

  /*------- Wrapper Section Ends -------*/

  /*------- Slider Section Starts -------*/

.bg-banner-slider { padding: 0; position: relative; z-index: 1; }
.bg-banner-slider::before {
	background-color: rgb(0 0 0 / 40%);
	content: "";
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}
.box-banner { background-color: #FFFFFF; -webkit-border-radius: 7px; -moz-border-radius: 7px; -ms-border-radius: 7px; -o-border-radius: 7px; border-radius: 7px; left: auto; padding: 30px; position: absolute; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); width: 35%; z-index: 1; }
.box-banner > h1 { color: #1E1E1E; font: 4rem/normal "Futura-Medium"; margin-bottom: 25px; }
.box-banner > h1 > span { color: #F26EBA; }
.box-banner > p { margin-bottom: 15px; }
.box-banner > p:last-of-type { margin-bottom: 25px; }
.banner-slick-slider .slick-prev,
.banner-slick-slider .slick-next { background-color: #F26EBA; height: 50px; width: 50px; z-index: 1; }
.banner-slick-slider .slick-prev { -webkit-border-radius: 0 14px 14px 0; -moz-border-radius: 0 14px 14px 0; -ms-border-radius: 0 14px 14px 0; -o-border-radius: 0 14px 14px 0; border-radius: 0 14px 14px 0; left: 0; }
.banner-slick-slider .slick-next { -webkit-border-radius: 14px 0 0 14px; -moz-border-radius: 14px 0 0 14px; -ms-border-radius: 14px 0 0 14px; -o-border-radius: 14px 0 0 14px; border-radius: 14px 0 0 14px; right: 0; }
.banner-slick-slider .slick-prev::before,
.banner-slick-slider .slick-next::before {
	color: #FFFFFF;
	content: "\f053";
	font-family: "Font Awesome 6 Free";
	font-weight: 900;
  opacity: 1;
}
.banner-slick-slider .slick-next::before {
	content: "\f054";
}
.banner-slick-slider.slick-initialized .slick-slide { margin-bottom: -5px; }
.banner-slick-slider .slick-slide img { height: 100vh; object-fit: cover; object-position: top; width: 100%; }

	/*------- Slider Section Ends -------*/

  /*------- Category Section Starts -------*/

.box-category { margin-bottom: 50px; }
.box-category-image > img { -webkit-border-radius: 14px; -moz-border-radius: 14px; -ms-border-radius: 14px; -o-border-radius: 14px; border-radius: 14px; margin-bottom: 15px; width: 100%; }
.box-category-name > h4 { color: #1E1E1E; font: 2rem/normal "Futura-Medium"; text-align: center; }

  /*------- Category Section Ends -------*/

  /*------- About Us Section Starts -------*/

.bg-about,
.bg-about-ap { position: relative; z-index: 1; }
.bg-about::before,
.bg-about-ap::before { background: url("../images/about.jpg") no-repeat top/cover; content: ""; display: block; height: 75%; left: 0; position: absolute; top: 0; width: 100%; z-index: -1; }
.bg-about-ap::before { height: 100%; }
.about-image-bottom-right { bottom: 50px; position: absolute; right: 0; z-index: 1; }
.about-image-bottom-right > img { width: 400px; }
.about-image > img { -webkit-border-radius: 14px; -moz-border-radius: 14px; -ms-border-radius: 14px; -o-border-radius: 14px; border-radius: 14px; width: 100%; }
.about-info { margin-left: 20px; }
.about-desc > p { margin-bottom: 30px; }
.about-desc-ap > p:last-child { margin-bottom: 0; }

  /*------- About Us Section Ends -------*/

  /*------- Products Section Starts -------*/

.bg-products { background-color: #F7F7F7; }
.box-products { background-color: #FFFFFF; -webkit-border-radius: 14px; -moz-border-radius: 14px; -ms-border-radius: 14px; -o-border-radius: 14px; border-radius: 14px; margin-bottom: 30px; padding: 30px; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; }
.box-products:hover { box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; -webkit-transform: translateY(-10px); -moz-transform: translateY(-10px); -ms-transform: translateY(-10px); -o-transform: translateY(-10px); transform: translateY(-10px); }
.box-products-image > a { -webkit-border-radius: 20px 20px 0 0; -moz-border-radius: 20px 20px 0 0; -ms-border-radius: 20px 20px 0 0; -o-border-radius: 20px 20px 0 0; border-radius: 20px 20px 0 0; display: block; text-align: center; }
.box-products-image > a > img { margin-bottom: 20px; width: 100%; }
.box-products-heading > h4 { font: 2rem/normal "Futura-Medium"; margin-bottom: 5px; }
.box-products-heading > h4 > a { color: #1E1E1E; display: inline-block; }
.box-products-heading > h4 > a:hover { color: #F26EBA; }
.box-products-heading > p { color: #F26EBA; margin-bottom: 15px; }
.btn-read-view-more-products { margin-top: 20px; }

  /*------- Products Section Ends -------*/

  /*------- Testimonials Section Starts -------*/

.box-testimonials-slick-slider-profile-image > img { border: 1px solid #F26EBA; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; margin: 0 auto 30px; padding: 15px; width: 190px; }
.box-testimonials-slick-slider-desc > p { margin-bottom: 30px; padding: 0 150px; text-align: center; }
.box-testimonials-slick-slider-quote-image > img { margin: 0 auto 30px; width: 140px; }
.box-testimonials-slick-slider-person-info > h3 { color: #F26EBA; font: 2.4rem/normal "Futura-Bold"; margin-bottom: 5px; text-align: center; }
.box-testimonials-slick-slider-person-info > p { text-align: center; }
.testimonials-slick-slider .slick-prev,
.testimonials-slick-slider .slick-next { background-color: #F26EBA; -webkit-border-radius: 14px; -moz-border-radius: 14px; -ms-border-radius: 14px; -o-border-radius: 14px; border-radius: 14px; height: 50px; width: 50px; z-index: 1; }
.testimonials-slick-slider .slick-prev { left: 0; }
.testimonials-slick-slider .slick-next { right: 0; }
.testimonials-slick-slider .slick-prev::before,
.testimonials-slick-slider .slick-next::before {
	color: #FFFFFF;
	content: "\f053";
	font-family: "Font Awesome 6 Free";
	font-weight: 900;
  opacity: 1;
}
.testimonials-slick-slider .slick-next::before {
	content: "\f054";
}

  /*------- Testimonials Section Ends -------*/

  /*------- Footer Section Starts -------*/

.bg-footer-1 { background-color: rgb(253 61 107 / 10%); }
.footer-logo { text-align: center; }
.footer-logo > a { display: inline-block; }
.footer-logo > a > img { margin-bottom: 70px; width: 300px; }
.footer-quick-links-listing { display: -webkit-box; display: -webkit-flex; display: flex; justify-content: center; }
.footer-quick-links-listing > li { margin-right: 100px; }
.footer-quick-links-listing > li:last-child { margin-right: 0; }
.footer-quick-links-listing > li > a { color: #1E1E1E; font: 1.8rem/normal "Futura-Book"; }
.footer-quick-links-listing > li > a:hover { color: #E91E63; }
.bg-footer-2 { background-color: rgb(253 61 107 / 10%); border-top: 1px solid #F26EBA; }
.footer-heading > h3 { color: #1E1E1E; font: 2.2rem/1.4 "Futura-Bold"; margin-bottom: 20px; text-transform: uppercase; }
.footer-heading > h3 > span { color: #F26EBA; }
.footer-social-listing > li { margin-right: 15px; }
.footer-social-listing > li:last-child { margin-right: 0; }
.footer-social-listing > li > a { -webkit-border-radius: 7px; -moz-border-radius: 7px; -ms-border-radius: 7px; -o-border-radius: 7px; border-radius: 7px; color: #FFFFFF; display: block; font-size: 1.8rem; height: 44px; line-height: 44px; text-align: center; width: 44px; }
.footer-social-listing > li:first-child > a { background-color: #F26EBA; }
.footer-social-listing > li:nth-child(2) > a { background-color: #FF8774; }
.footer-social-listing > li:last-child > a { background-color: #AD5BFF; }
.footer-contact-listing { text-align: center; }
.contact-information-footer-heading > h3 { text-align: center; }
.footer-contact-listing > li { margin-bottom: 15px; }
.footer-contact-listing > li:last-child { margin-bottom: 0; }
.footer-contact-listing > li > a { color: #1E1E1E; font: 1.8rem/1.7 "Futura-Book"; }
.footer-contact-listing > li > a:hover { color: #E91E63; }
.copyright-info > p,
.design-develop-by > p { margin-bottom: 10px; text-align: right; }
.copyright-info > p > span { color: #F26EBA; }
.design-develop-by > p { margin-bottom: 0; }
.design-develop-by > p > a > img { width: 70px; }

  /*------- Footer Section Ends -------*/

/*------- Home Page Ends -------*/

/*------- About Us Page Starts -------*/

  /*------- Inner Banner Section Starts -------*/

.bg-inner-banner-ip { background: url("../images/banner-ip.jpg") no-repeat 100% 20%/cover; padding: 100px 15px; position: relative; z-index: 1; }
.bg-inner-banner-ip::before { background-color: rgb(0 0 0 / 40%); content: ""; display: block; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: -1; }

	/*------- Inner Banner Section Ends -------*/

  /*------- Offer Section Starts -------*/

.box-offer-ap { text-align: center; }
.box-offer-ap > img { margin-bottom: 20px; width: 70px; }
.box-offer-ap > p { font-family: "Futura-Medium"; font-size: 2rem; text-align: center; }

	/*------- Offer Section Ends -------*/

/*------- About Us Page Ends -------*/

/*------- Products Page Starts -------*/

  /*------- Products Section Starts -------*/

.bg-products-pp { background-color: rgb(242 110 186 / 10%); padding: 70px 15px 40px; }
.pagination-design { margin-top: 20px; }
.pagination-design > li > a.page-link { border: 2px solid #1E1E1E; color: #1E1E1E; font: 1.6rem/normal "Futura-Medium"; }
.pagination-design > li.page-item:not(:first-child) .page-link { margin-left: calc(var(--bs-border-width) * -2); }
.pagination-design > li.active > a.page-link,
.pagination-design > li.active > a.page-link:hover { background-color: #1E1E1E; border-color: #1E1E1E; color: #FFFFFF; }
.pagination-design > li.page-item.disabled { cursor: not-allowed; }
.pagination-design > li > a.page-link:hover { background-color: rgb(242 110 186 / 10%); }
.pagination-design > li > a.page-link:focus { box-shadow: none; }

  /*------- Products Section Ends -------*/

/*------- Products Page Ends -------*/

/*------- Product Details Page Starts -------*/

  /*------- Product Details Section Starts -------*/

.box-product-detail-image { border: 2px solid #1E1E1E; -webkit-border-radius: 7px; -moz-border-radius: 7px; -ms-border-radius: 7px; -o-border-radius: 7px; border-radius: 7px; padding: 50px; text-align: center; }
.box-product-detail-image > img { -webkit-border-radius: 7px; -moz-border-radius: 7px; -ms-border-radius: 7px; -o-border-radius: 7px; border-radius: 7px; }
.box-product-detail-heading > h3 { color: #1E1E1E; font: 2.4rem/normal "Futura-Bold"; margin-bottom: 15px; }
.box-product-detail-desc > p { margin-bottom: 15px; }
.box-product-detail-sub-heading > h4 { color: #E91E63; font: 2rem/normal "Futura-Bold"; margin-bottom: 15px; }
.box-product-detail-sub-heading-value > h4 { color: #1E1E1E; font: 2rem/normal "Futura-Medium"; margin-bottom: 15px; }
.quantity-pdp { -webkit-align-items: center; align-items: center; border: 2px solid #1E1E1E; -webkit-border-radius: 7px; -moz-border-radius: 7px; -ms-border-radius: 7px; -o-border-radius: 7px; border-radius: 7px; display: -webkit-inline-box; display: -webkit-inline-flex; display: -ms-inline-flexbox; display: inline-flex; }
.quantity-pdp > span { padding: 0 20px; }
.quantity-pdp > input { color: #FFFFFF; font: 2rem/normal "Futura-Book"; padding: 0.85rem .75rem; text-align: center; width: 40px; }
.quantity-pdp > input[readonly] { background-color: #1E1E1E; border: 0; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; }
.quantity-pdp > input[readonly]:focus { box-shadow: none; color: #FFFFFF; }
.quantity-pdp > span:last-child { margin-right: 0; }
.quantity-inc-dec { color: #1E1E1E; cursor: pointer; display: inline-block; font: 1.6rem/normal "Futura-Book"; }
.box-product-detail-info > .btn-add-to-cart-pdp { margin-top: 15px; }

  /*------- Product Details Section Ends -------*/

  /*------- Related Products Section Starts -------*/

.bg-related-product-pdp { background-color: rgb(242 110 186 / 10%); padding: 70px 15px 40px; }

  /*------- Related Products Section Ends -------*/

/*------- Product Details Page Ends -------*/

/*------- View Cart Page Starts -------*/

  /*------- View Cart Section Starts -------*/

.box-table-design { border: 2px solid #1E1E1E; margin-bottom: 50px; }
.box-table-design-cart-totals,
.box-table-design-products,
.table-design { margin-bottom: 0; }
.table-design > thead > tr > th { background-color: #1E1E1E; border-bottom: 0; color: #FFFFFF; font: 1.8rem/1.2 "Futura-Bold"; padding: 10px 15px; text-transform: uppercase; }
.table-design > tbody > tr > td { border-bottom: 2px solid #1E1E1E; color: #1E1E1E; font: 1.8rem/normal "Futura-Medium"; padding: 10px 15px; vertical-align: middle; }
.table-design > tbody > tr > td.total-label,
.table-design > tbody > tr > td.total-value { background-color: #E91E63; color: #FFFFFF; }
.table-design > tbody > tr:last-child > td { border-bottom: 0; padding: 15px; }
.view-cart-image-product-name-vcp { align-items: center; display: -webkit-box; display: -webkit-flex; display: flex; }
.view-cart-image-vcp > img { margin-right: 15px; width: 70px; }
.view-cart-product-name-vcp > p { color: #1E1E1E; font-family: "Futura-Medium"; }
.delete-product { color: #1E1E1E; cursor: pointer; font-size: 2.4rem; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; }
.delete-product:hover { color: #DC143C; }
.td-update-cart { text-align: right; }
.btn-update-cart { background: linear-gradient(#F26EBA, #FD7863); border: 0; -webkit-border-radius: 7px; -moz-border-radius: 7px; -ms-border-radius: 7px; -o-border-radius: 7px; border-radius: 7px; color: #FFFFFF; font: 1.6rem/normal "Futura-Medium"; height: 54px; letter-spacing: 1px; padding: 10px 30px; text-align: center; text-transform: uppercase; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; }
.btn-update-cart:hover,
.btn-proceed-to-checkout:hover,
.btn-place-order:hover,
.btn-login-signup:hover,
.btn-submit:hover { background: linear-gradient(#FD7863, #F26EBA); }
.btn-update-cart:focus,
.btn-proceed-to-checkout:focus,
.btn-place-order:focus,
.btn-login-signup:focus,
.btn-submit:focus { outline: 0; }
.box-view-cart-totals-vcp,
.box-view-cart-totals-cop { margin-bottom: 0; }
.box-table-design > h4 { background-color: #1E1E1E; color: #FFFFFF; font: 2rem/normal "Futura-Bold"; padding: 10px 15px; text-align: center; text-transform: uppercase; }
.table-design-view-cart > tbody > tr > td:last-child,
.table-design-products-checkout > tbody > tr > td:last-child { font-weight: bold; }
.btn-proceed-to-checkout,
.btn-place-order,
.btn-login-signup,
.btn-submit { background: linear-gradient(#F26EBA, #FD7863); border: 0; -webkit-border-radius: 7px; -moz-border-radius: 7px; -ms-border-radius: 7px; -o-border-radius: 7px; border-radius: 7px; color: #FFFFFF; display: block; font: 1.6rem/normal "Futura-Medium"; letter-spacing: 1px; padding: 16px 32px; text-align: center; text-transform: uppercase; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; width: 100%; }

  /*------- View Cart Section Ends -------*/

/*------- View Cart Page Ends -------*/

/*------- Checkout Page Starts -------*/

  /*------- Checkout Section Starts -------*/

.bg-checkout-cop { padding: 70px 15px 40px; }
.form-group-contact { margin-bottom: 30px; }
.form-label-contact { color: #1E1E1E; font: 1.8rem/normal "Futura-Medium"; margin-bottom: 10px; }
.form-label-contact > span.required { color: #DC143C; }
.form-label-contact > span.optional { color: #1E1E1E; }
.form-control-contact { border: 2px solid #1E1E1E; -webkit-border-radius: 7px; -moz-border-radius: 7px; -ms-border-radius: 7px; -o-border-radius: 7px; border-radius: 7px; color: #1E1E1E; font: 1.8rem/normal "Futura-Medium"; height: calc(4.4rem + 0px); padding: 10px 20px; }
.form-control-contact::placeholder {
  color: #777777;
  opacity: 1;
}
.form-control-contact::-ms-input-placeholder {
  color: #777777;
}
.form-control-contact:focus { background-color: rgb(3 130 183 / 10%); box-shadow: none; }
.form-control-contact:focus::placeholder { color: transparent; }
textarea.form-control-contact { min-height: 140px; resize: none; }
.box-checkout-products { border-bottom: 2px solid #1E1E1E; padding: 15px; }
.box-checkout-products + .box-checkout-products { border-top: 0; }
.box-checkout-products-image-name-qty { align-items: start; display: -webkit-box; display: -webkit-flex; display: flex; }
.box-checkout-products-image-name-qty > img { margin-right: 10px; width: 70px; }
.box-checkout-products-image-name-qty > div > h4 { color: #1E1E1E; font: 1.8rem/normal "Futura-Medium"; }
.box-checkout-products-image-name-qty > div > p { color: #1E1E1E; font-family: "Futura-Book"; }
.box-checkout-products-amt > p { color: #1E1E1E; font-family: "Futura-Medium"; font-weight: bold; text-align: right; }

  /*------- Checkout Section Ends -------*/

/*------- Checkout Page Ends -------*/

/*------- Contact Us Page Starts -------*/

  /*------- Contact Info and Map Section Starts -------*/

.bg-contact-info-cp { padding-bottom: 0; }
.box-contact-info-cp { background-color: #F7F7F7; -webkit-border-radius: 7px; -moz-border-radius: 7px; -ms-border-radius: 7px; -o-border-radius: 7px; border-radius: 7px; padding: 30px; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; }
.box-contact-icon-cp { -webkit-border-radius: 7px; -moz-border-radius: 7px; -ms-border-radius: 7px; -o-border-radius: 7px; border-radius: 7px; margin: 0 auto 20px; text-align: center; }
.box-contact-icon-cp > i { font-size: 3.6rem; }
.box-contact-icon-cp-1 > i { color: #e91e63; }
.box-contact-icon-cp-2 > i { color: #673ab7; }
.box-contact-icon-cp-3 > i { color: #009688; }
.box-contact-info-cp > address { color: #1E1E1E; font: 1.8rem/1.7 "Futura-Book"; text-align: center; }
.box-contact-info-cp > address > span { display: block; }
.box-contact-info-cp > p { font-family: "Futura-Book"; text-align: center; }
.box-contact-info-cp > p > a { color: #1E1E1E; }
.box-contact-info-cp-2 > p > a:hover { color: #673ab7; }
.box-contact-info-cp-3 > p > a:hover { color: #009688; }
.btn-submit { width: auto; }
.bg-contact-map-cp { padding: 0 15px 70px; }
.map-cp { border: 1px solid #cccccc; -webkit-border-radius: 7px; -moz-border-radius: 7px; -ms-border-radius: 7px; -o-border-radius: 7px; border-radius: 7px; padding: 10px; height: 690px; width: 100%; }

  /*------- Contact Info and Map Section Ends -------*/

/*------- Contact Us Page Ends -------*/